@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bungee";
  src: url("/Fonts/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Bungee", sans-serif;
  background-color: #f9f6ee;
}

.header-font {
  font-family: "Bungee", sans-serif;
}

.menu-page {
  padding-bottom: 3rem;
}

.menu-page > h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.menu-page > h4 {
  font-weight: 500;
  font-size: 1.1rem;
}

.menu-page > h5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.order-btn {
  transition: bg-color 0.4 ease-in-out;
}

.order-btn:hover {
  background-color: #f28c28;
  border-color: black;
}

.opening-hours > p {
  margin-right: 1.5rem;
}